@model Form.AlbumsListDTO
@using System.Web
@using Newtonsoft.Json
@{Layout = "_Layout";}



<script asp-append-version="true">
  var jsModel = JSON.parse("@Html.Raw(HttpUtility.JavaScriptStringEncode(JsonConvert.SerializeObject(Model)))");
  var initFunc = function () { init_locations(jsModel); };
</script>

<script src="~/js/map.js" asp-append-version="true"> </script>

<div class="row">
  <form class="needs-validation" method="post" novalidate style="display:contents">
    <div class="col-md-2 p-5" style="width:500px">
      <input type="hidden" asp-for="North" />
      <input type="hidden" asp-for="South" />
      <input type="hidden" asp-for="East" />
      <input type="hidden" asp-for="West" />
      <div class="row g-3">

      <div class="col-sm-6">
        <h4 class="mb-3">Фильтр</h4>
      </div>
      <div class="col-sm-6 text-end">
        <a class="btn btn-primary" href="add_album">Добавить альбом</a>
      </div>

        <div class="col-sm-6">
          <label class="form-label">Сортировка:</label>
          <select asp-for="SortBy" asp-items="Model.SortByOptions" class="form-select"></select>
        </div>

        <div class="col-sm-6">
          <label class="form-label">Направление:</label>
          <select asp-for="SortDirection" asp-items="Model.SortDirectionOptions" class="form-select"></select>
        </div>

        <div class="col-sm-6">
          <label class="form-label">Год, от</label>
          <select asp-for="DateStart" class="form-select" id="DateStart"
            onchange="document.getElementById('DateEnd').selectedIndex = this.selectedIndex - 1;"
            required>
            <option>&nbsp;</option>
            @{
            var start = 1950;
            var end = DateTime.Now.Year;
            var numbers = Enumerable.Range(start, end - start + 1).Reverse();
            foreach(var number in numbers){
            <option value="@number">@number</option>
            }
            }
          </select>
        </div>

        <div class="col-sm-6">
          <label class="form-label">Год, до</label>
          <select asp-for="DateEnd" class="form-select" id="DateEnd" required>
            <option>&nbsp;</option>
            @{
            var start1 = 1950;
            var end1 = DateTime.Now.Year;
            var numbers1 = Enumerable.Range(start1, end1 - start1 + 1).Reverse();
            foreach(var number in numbers1){
            <option value="@number">@number</option>
            }
            }
          </select>
        </div>

        <div class="col-sm-12">
          <label class="form-label">Камера</label>
          <select asp-for="Camera" class="form-select">
            <option>&nbsp;</option>
            @foreach(var camera in @Model.Cameras) {
            if (!string.IsNullOrWhiteSpace(camera))
            {
            <option value="@camera">@camera</option>
            }
            }
          </select>
        </div>

        <div class="col-sm-12">
          <label class="form-label">Место</label>
          <select asp-for="LocationId" class="form-select" id="state" onchange="javascript:show(this.selectedIndex, jsModel.Locations, 1)"
            required>
            <option></option>
            @foreach(var location in @Model.Locations) {
            <option value="@location.Id">@location.Name</option>
            }
          </select>
        </div>

        <div class="col-12">
          <input asp-for="EditLocation"
                             type="checkbox"
                             onclick="toggleEditing(this);" />
          <label class="form-label">Изменить локацию</label>
        </div>

        <input asp-for="Zoom" class="form-control" type="hidden" value="" />

        <div class="col-sm-6">
            <label class="form-label">Долгота</label>
            <input asp-for="Longitude" class="form-control"/>
        </div> 

        <div class="col-sm-6">
            <label class="form-label">Широта</label>
            <input asp-for="Latitude" class="form-control" />
        </div> 

        <div class="col-12">
          <label class="form-label">Карта</label>
          <div id="map" style="height:240px"></div>
        </div>

        <div class="col-sm-12">
          <label class="form-label">Название места</label>
          <input asp-for="LocationName" class="form-control"/>
        </div>         

        <div class="col-sm-6 text-start">
          <input type="submit" class="btn btn-primary" value="Обновить">
        </div>

      </div>
  </div>
  <div class="col p-5">
    <div class="row">
      <div class="col-md-12 p-0 pb-5 text-end">
        <input type="submit" name="delete" class="btn btn-primary btn-sm px-3" value="Удалить">
        <input type="submit" name="save" class="btn btn-primary btn-sm px-3" value="Сохранить">
          <a class="btn btn-secondary btn-sm ps-3" href="/">Отменить</a>
        </div>
    </div>
    <!-- <div class="d-flex flex-wrap overflow-auto h-100"> -->
    <div class="d-flex flex-wrap overflow-auto" style="overflow-x:hidden;">
          @for (var index = 0; index < Model.Albums.Count(); index++)
          {
              <div class="card text-bg-secondary mb-5 me-5 shadow" style="width: 16rem; height: 16rem;">
                  <div class="card-header d-flex justify-content-between align-items-center">
                      <div title="@Model.Albums[index].Name">
                          @(
                              Model.Albums[index].Name?.Length > 20 
                                  ? Model.Albums[index].Name.Substring(0, 20) + "…" 
                                  : Model.Albums[index].Name
                          )  (@Model.Albums[index].Size)
                      </div>
                      <div class="dropdown">
                          <button class="btn btn-secondary dropdown-toggle" type="button"
                                  data-bs-toggle="dropdown" aria-expanded="false">&nbsp;</button>
                          <ul class="dropdown-menu">
                              <li>
                                  <a class="dropdown-item"
                                     href="/delete_album?id=@Model.Albums[index].AlbumId">Удалить</a>
                              </li>
                          </ul>
                      </div>
                  </div>
          
                  @{
                      // Build the style string in C#
                      var style = Model.Albums[index].PreviewId <= 0
                          ? "background-color: lightgray;"
                          : $"background-image: url('/preview?id={Model.Albums[index].PreviewId}&flip={Model.Albums[index].PreviewFlip}&rotate={Model.Albums[index].PreviewRotate}'); " +
                            "background-repeat: no-repeat; background-size: cover;";
                  }
          
                  <div class="card-body text-end"
                       onClick="location.href='/edit_album?id=@Model.Albums[index].AlbumId'"
                       style="@style">
          
                      <!-- Model-bound checkbox -->
                      <input asp-for="Albums[@index].IsChecked"
                             type="checkbox"
                             style="width: 1.85rem; height: 1.85rem"
                             onclick="event.stopPropagation()" />
          
                      <!-- Hidden input to preserve AlbumId -->
                      <input type="hidden" asp-for="Albums[@index].AlbumId" />
                  </div>
              </div>
          }
          
        </div>
    </div>
  </form>  
</div>