@{Layout = "_Layout";}
@model Form.ProfileDTO

<script>

  function doit(x) {
    alert("do it" + x);
  }

  function add_yandex () {
    var strWindowFeatures = "location=yes,height=570,width=520,scrollbars=yes,status=yes";
    var URL = "https://oauth.yandex.ru/authorize?response_type=token&client_id=66cf9bbd121948f6bfc03f2b56aa7e3f";
    var win = window.open(URL, "_blank", strWindowFeatures); 
    win.onchange = win.alert(win.location.href);

    //win.opener.doit(win.location.href);
  }

</script>

<div class="row">
  <div class="col-md-2 p-5 pb-0 text-start">
    <h4 class="mb-3">Пользователь</h4>
  </div>
  <div class="col-md-2 p-5 pb-0 text-start">
    <h4 class="mb-3">Хранилище</h4>
  </div>
  <div class="col-md-8 p-5 pb-0 text-end">
    <a class="btn btn-primary" href="javascript:add_yandex();">Добавить хранилище на Яндекс Диск</a>  
    <a class="btn btn-primary" href="edit_local_storage?userId=@Model.User.UserId">Добавить локальное хранилище</a>  
    <a class="btn btn-secondary" href="javascript:history.back();">Отменить</a>
  </div>
</div>

<div class="row">
  <div class="col-md-2 p-5">
    <div class="pb-3">
      <label class="form-label">Имя</label>
      <input asp-for="@Model.User.Username" class="form-control"/>
    </div>
    <div class="pb-3">
      <label class="form-label">Почта</label>
      <input asp-for="@Model.User.Email" class="form-control"/>
    </div>
  </div>  
  <div class="col-md-10 p-5"> 
    @if (@Model.Storages != null && @Model.Storages.Count > 0) {
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Auth Token</th>
          <th>Refresh Token</th>
          <th>Provider</th>
          <th>Root</th>          
        </tr>
      </thead>
        @foreach(var store in @Model.Storages) {
        <tr>
          <td>@store.AuthToken</td>
          <td>@store.RefreshToken</td>
          <td>@store.Provider</td>
          <td>@store.Root</td>
        </tr>
        }  
    </table>
    } else {
      <i>No storage found</i>
    }
  </div>
</div>
