@model svema.Data.Location
@{Layout = "_Layout";}

<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=<ваш API-ключ>" type="text/javascript"></script>
<script type="text/javascript">

ymaps.ready(init);

var myGeoObject;
var circle;

function init () {

    myMap = new ymaps.Map("map", {
    center: [54.7, 32],
        zoom: 8
    }),

    myGeoObject = new ymaps.GeoObject({
        geometry: {type: "Point",coordinates: [54.7, 32]},
        properties: {iconContent: ''}
    }, {preset: 'islands#blackStretchyIcon',draggable: true
    })

    circle = new ymaps.Circle([[54.7, 32], 10000], {}, {
        geodesic: true
    });

    myMap.events.add('click', function (e) {
        var coords = e.get('coords');
        myGeoObject.geometry.setCoordinates(coords);
        circle.geometry.setCoordinates(coords);
        document.all['LocationPrecisionMeters'].value = myMap.getZoom();
        document.all['Latitude'].value = coords[0];
        document.all['Longitude'].value = coords[1];
    });

    myGeoObject.events.add(['mapchange','dragend'], 
        function (e) {
            coords = myGeoObject.geometry.getCoordinates();
            circle.geometry.setCoordinates(coords);
            document.all['LocationPrecisionMeters'].value = myMap.getZoom();
            document.all['Latitude'].value = coords[0];
            document.all['Longitude'].value = coords[1];
        }
    ); 

    myMap.geoObjects.add(myGeoObject);
    myMap.geoObjects.add(circle);

}
   
function show(lat, lon, name) {
    circle.geometry.setCoordinates([lat, lon]);
    myGeoObject.geometry.setCoordinates([lat, lon]);
    myGeoObject.properties.set('iconContent', name);
    myMap.setCenter([lat, lon]);
    myMap.setZoom(8);
}

function precision(radius) {
    circle.geometry.setRadius(radius);
}

</script>
<table width="100%">
    <tr>
        <td width="240" bgcolor="#666666">
            <a href="/create_location">Create</a>
        </td>
        <td bgcolor="#eeeeee">     
        <div id="map" style="width: 640;height: 320;"></div>            
        <form method="post">
            <input type="hidden" name="AlbumId" value="@ViewBag.album.AlbumId"/>
            Name <input asp-for="Name" id="Name" name="Name" /><br/>
            Latitude<input asp-for="Latitude" id="Latitude" name="Latitude"/><br/>
            Longitude<input asp-for="Longitude" id="Longitude" name="Longitude"/><br/>
            Precision
            <input asp-for="LocationPrecisionMeters" type="radio" id="precision" name="LocationPrecisionMeters" value=100 onClick="javascript:precision(100);"/>100
            <input asp-for="LocationPrecisionMeters" type="radio" id="precision" name="LocationPrecisionMeters" value=1000 onClick="javascript:precision(1000);"/>1000
            <input asp-for="LocationPrecisionMeters" type="radio" id="precision" name="LocationPrecisionMeters" value=10000 onClick="javascript:precision(10000);"/>10000
            <br/>
            <input type="submit"/>
        </form>
        </td>   
        <td bgcolor="#eeeeee" width="100%" valign="top">
            <table width="300">
            @foreach(var location in @ViewBag.locations)  {
                <tr>
                    <td width="100%">@location.Name</td>
                    <td><input type="button" value="show" onClick="javascript:show(@location.Latitude, @location.Longitude, '@location.Name');"></td> 
                    <td><input type="button" value="select" onClick="javascript:location.href=('/select_location?locationId=@location.Id&albumId=@ViewBag.album.AlbumId');"></td>
                    <td><input type="button" value="delete" onClick="javascript:location.href=('/delete_location?locationId=@location.Id&albumId=@ViewBag.album.AlbumId');"></td>
                </tr>
            }
            </table>
        </td>
    </tr>
</table>