@using System.Web
@using Newtonsoft.Json
@model svema.Form.AlbumDTO
@{Layout = "_Layout";}

<script type="text/javascript">

  ymaps.ready(init);
 
  var myGeoObject;
  var circle;
  var myMap;
  
  function init() {

    myMap = new ymaps.Map("map", {
        center: [0, 0],
        zoom: 0,
        controls: []  
    })

  }

  function show(i) {

    var jsModel = JSON.parse("@Html.Raw(HttpUtility.JavaScriptStringEncode(JsonConvert.SerializeObject(Model.Locations)))");

    if (i == 0) {
        myMap.setCenter([0, 0]);
        myMap.setZoom(0);
        myMap.geoObjects.removeAll();
    }
    if (myGeoObject == null) {
        myGeoObject = new ymaps.GeoObject(
            {geometry: { type: "Point", coordinates: [jsModel[i-1].Latitude, jsModel[i-1].Longitude]}, properties: { iconContent: jsModel[i-1].Name }}, 
            {preset: 'islands#blackStretchyIcon', draggable: true}
        )
        myMap.geoObjects.add(myGeoObject);
    }
    myGeoObject.geometry.setCoordinates([jsModel[i-1].Latitude, jsModel[i-1].Longitude]);
    myGeoObject.properties.set('iconContent', jsModel[i-1].Name); 
    myMap.setCenter([jsModel[i-1].Latitude, jsModel[i-1].Longitude]);
    myMap.setZoom(jsModel[i-1].Zoom);
  }

    function setdate(year) {
    if (year < 1000) {
      document.all["DateStart"].value=year + "0-01-01";
      document.all["DateEnd"].value=year + "9-12-31";
    } else {
      document.all["DateStart"].value=year + "-01-01";
      document.all["DateEnd"].value=year + "-12-31";
    }
  }

  function selectAll() {
    var jsShots = JSON.parse("@Html.Raw(HttpUtility.JavaScriptStringEncode(JsonConvert.SerializeObject(Model.Shots)))");
    for (i=0; i<jsShots.length; i++) {
        document.all["Shots["+i+"].IsChecked"][0].checked = true;
        document.all["Shots["+i+"].IsChecked"][1].checked = true;
    }
  }

  function deselectAll() {
    var jsShots = JSON.parse("@Html.Raw(HttpUtility.JavaScriptStringEncode(JsonConvert.SerializeObject(Model.Shots)))");
    for (i=0; i<jsShots.length; i++) {
        document.all["Shots["+i+"].IsChecked"][0].checked = false;
        document.all["Shots["+i+"].IsChecked"][1].checked = false;
    }
  }

</script>

<form method="post">

<div class="row">
    <div class="col-md-12 p-5 pb-0 text-end">
        <a class="btn btn-primary px-3" href="upload_shots?id=@Model.AlbumId">Добавить фото</a>
        <a class="btn btn-primary px-3" href="javascript:selectAll()">Выбрать все</a>
        <a class="btn btn-primary px-3" href="javascript:deselectAll()">Снять выделение</a>
        <input type="submit" class="btn btn-primary px-3" value="Сохранить">
        <a class="btn btn-secondary ps-3" href="/">Отменить</a>
    </div>
</div>

<div class="row">

    <div class="col-md-2 p-5" style="width:500px">

        <h4 class="mb-3">Альбом</h4>

        <form class="needs-validation" novalidate>
            <div class="row g-3">

                <div class="col-sm-12">
                    <label for="firstName" class="form-label">Название</label>
                    <input asp-for="AlbumId" type="hidden"/>
                    <input asp-for="Name" class="form-control""/>
                </div>

                <div class="col-sm-12">
                    <label class="form-label">Год</label>
                    <select class="form-select" id="state" onchange="javascript:setdate(this.options[this.selectedIndex].value)">
                        @{
                        var startdec = 195;
                        var enddec = DateTime.Now.Year / 10;
                        var numbersdec = Enumerable.Range(startdec, enddec - startdec + 1).Reverse();
                        foreach (var number in numbersdec)
                            {
                                <option value="@number">@(number + "X")</option>
                            }
                        }
                        @{
                        var start = 1950;
                        var end = DateTime.Now.Year;
                        var numbers = Enumerable.Range(start, end - start + 1).Reverse();
                        foreach (var number in numbers)
                            {
                                <option value="@number">@number</option>
                            }
                        }
                    </select>
                </div>
    
                <div class="col-sm-12">
                    <label class="form-label">Дата, от</label>
                    <input asp-for="DateStart" class="form-control" asp-format="{0:yyyy-MM-dd}"/>
                </div>
    
                <div class="col-sm-12">
                    <label class="form-label">Дата, до</label>
                    <input asp-for="DateEnd" class="form-control" asp-format="{0:yyyy-MM-dd}"/>
                </div> 

                <div class="col-sm-12">
                    <label class="form-label">Место</label>
                    <select asp-for="LocationId" class="form-select" id="state" onchange="javascript:show(this.selectedIndex)">
                        <option></option>
                        @foreach(var location in @Model.Locations) {
                            <option value="@location.Id">@location.Name</option>
                        }
                    </select>
                </div>

                <div class="col-12">
                    <label for="lastName" class="form-label">Карта</label>
                    <div id="map" style="height:240px"></div>
                </div>

            </div>
        </form>
    </div>

    <div class="col p-5">

        <div class="d-flex flex-wrap overflow-auto">
            @for (var index = 0; index < @Model.Shots.Count(); index++) {
                <div class="card text-bg-secondary mb-5 me-5 shadow" style="width: 16rem; height: 16rem;">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <div>
                            @Model.Shots[index].Name
                        </div>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">&nbsp;</button>
                            <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/edit_shot?id=@Model.Shots[index].ShotId">Редактировать</a></li>
                            <li><a class="dropdown-item" href="/delete_shot?id=@Model.Shots[index].ShotId">Удалить</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body text-end"
                        style="background-image: url('/preview?id=@Model.Shots[index].ShotId'); background-repeat: no-repeat; background-size: cover;">
                        <input asp-for="@Model.Shots[index].IsChecked" type="checkbox" style="width: 1.85rem;height: 1.85rem">
                        <input type="hidden" asp-for="@Model.Shots[index].ShotId" />
                        <input type="hidden" asp-for="@Model.Shots[index].Name" />
                    </div>
                </div>
            }           
        </div>
    </div>

</div>

</form>