@model Form.AlbumsListDTO
@using System.Web
@using Newtonsoft.Json
@{Layout = "_Layout";}

<script type="text/javascript">

  ymaps.ready(init);

  var counter = 0;
  var circle;
  var jsModel = JSON.parse("@Html.Raw(HttpUtility.JavaScriptStringEncode(JsonConvert.SerializeObject(ViewBag.locations)))");

  function init() {    
    myMap = new ymaps.Map("map", {
    center: [0, 0],
    zoom: 0,
    controls: []
  })

  for (i=0; i<jsModel.length; i++) {
    myMap.geoObjects.add(
      new ymaps.GeoObject(
        {geometry: { type: "Point", coordinates: [jsModel[i].Latitude, jsModel[i].Longitude]}, properties: { iconContent: jsModel[i].Name }}, 
        {preset: 'islands#blackStretchyIcon', draggable: false}
      )
    )
  }

  }

</script>

<form class="needs-validation" method="get" novalidate>

  <div class="row">
    <div class="col-md-12 p-5 pb-0 text-end">
        <a class="btn btn-primary px-3" href="add_album">Добавить альбом</a>
        <a class="btn btn-primary px-3" href="javascript:selectAll()">Выбрать все</a>
        <a class="btn btn-primary px-3" href="javascript:deselectAll()">Снять выделение</a>
        <input type="submit" class="btn btn-primary px-3" value="Сохранить">
        <a class="btn btn-secondary ps-3" href="/">Отменить</a>
    </div>
  </div>

    <div class="row">
      <div class="col-md-2 p-5" style="width:500px">

          <div class="row g-3">

            <div class="col-sm-12">
              <h4 class="mb-3">Фильтр</h4>
            </div>

            <div class="col-sm-6">
              <label class="form-label">Год, от</label>
              <select asp-for="DateStart" class="form-select" id="state" required>                     
                  <option>&nbsp;</option>
                  @{
                      var start = 1950;
                      var end = DateTime.Now.Year;
                      var numbers = Enumerable.Range(start, end - start + 1).Reverse();
                      foreach(var number in numbers){
                          <option value="@number">@number</option>
                      }
                  }                        
              </select>
            </div>

            <div class="col-sm-6">
              <label class="form-label">Год, до</label>
              <select asp-for="DateEnd" class="form-select" id="state" required>                     
                <option>&nbsp;</option>
                  @{
                      var start1 = 1950;
                      var end1 = DateTime.Now.Year;
                      var numbers1 = Enumerable.Range(start1, end1 - start1 + 1).Reverse();
                      foreach(var number in numbers1){
                          <option value="@number">@number</option>
                      }
                  }                        
              </select>
            </div>

                <div class="col-sm-12">
                    <label for="lastName" class="form-label">Место</label>
                    <select asp-for="LocationId" class="form-select" id="state" onchange="javascript:show(this.selectedIndex)" required>
                        <option></option>
                        @foreach(var location in @Model.Locations) {
                            <option value="@location.Id">@location.Name</option>
                        }
                    </select>
                </div>

                <div class="col-12">
                    <label for="lastName" class="form-label">Карта</label>
                    <div id="map" style="height:240px"></div>
                </div>
                <div class="col-sm-6 text-end">

                <input type="submit" class="btn btn-primary" value="Обновить">

              </div>

          </div>

      </div>
      <div class="col p-5">
        <div class="d-flex flex-wrap overflow-auto h-100">
          @for (var index = 0; index < @Model.AlbumsList.Count(); index++) {
          <div class="card text-bg-secondary mb-5 me-5 shadow" style="width: 16rem; height: 16rem;">
            <div class="card-header d-flex justify-content-between align-items-center">
              <div>
                @Model.AlbumsList[index].Name
              </div>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">&nbsp;</button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/edit_album?id=@Model.AlbumsList[index].AlbumId">Редактировать</a></li>
                  <li><a class="dropdown-item" href="/delete_album?id=@Model.AlbumsList[index].AlbumId">Удалить</a></li>
                </ul>
              </div>
            </div>
            <div  class="card-body" onClick="location.href='/view_album?id=@Model.AlbumsList[index].AlbumId'" 
            style="background-image: url('/preview?id=@Model.AlbumsList[index].PreviewId'); background-repeat: no-repeat; background-size: cover;">
              <input asp-for="@Model.AlbumsList[index].IsChecked" type="checkbox" style="width: 1.85rem;height: 1.85rem" onClick="javascript:event.stopPropagation();">
              <input type="hidden" asp-for="@Model.AlbumsList[index].AlbumId" />
              <input type="hidden" asp-for="@Model.AlbumsList[index].Name" />
            </div> 

          </div>
          }
        </div>
      </div>
    </div>

  </form>