@model Data.Location
@{Layout = "_Layout";}

<script type="text/javascript">

  ymaps.ready(init);

  var myGeoObject;
  var circle;
  
  function init() {

    myMap = new ymaps.Map("map", {
      center: [@Model.Latitude, @Model.Longitude],
    zoom: @Model.Zoom,
    controls: []
  }),

  myGeoObject = new ymaps.GeoObject(
    {geometry: { type: "Point", coordinates: [@Model.Latitude, @Model.Longitude]}, properties: { iconContent: '@Model.Name' }}, 
    {preset: 'islands#blackStretchyIcon', draggable: true}
  )

  circle = new ymaps.Circle([[@Model.Latitude, @Model.Longitude], @Model.LocationPrecisionMeters], { }, {
    geodesic: true
  });

  myMap.events.add('click', function (e) {
    var coords = e.get('coords');
    myGeoObject.geometry.setCoordinates(coords);
    circle.geometry.setCoordinates(coords);
    document.all['Latitude'].value = coords[0];
    document.all['Longitude'].value = coords[1];
    document.all['Zoom'].value = myMap.getZoom();
  });

  myGeoObject.events.add(['mapchange', 'dragend'],
    function (e) {
      coords = myGeoObject.geometry.getCoordinates();
      circle.geometry.setCoordinates(coords);
      document.all['Latitude'].value = coords[0];
      document.all['Longitude'].value = coords[1];
      document.all['Zoom'].value = myMap.getZoom();
    }
  );

  myMap.geoObjects.add(myGeoObject);
  myMap.geoObjects.add(circle);
  
  }

  function prec(radius) {
    circle.geometry.setRadius(radius);
  }

</script>

<form class="needs-validation" method="post" novalidate>

  <input type="hidden" asp-for="Id"/>

  <div class="row">
    <div class="col-md-12 p-5 pb-0 text-end">
      <input type="submit" class="btn btn-primary" value="Сохранить">
      <a href="locations" class="btn btn-secondary">Отменить</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 p-5" style="width:500px">
      <h4 class="mb-3">Местo</h4>
      <div id="map" style="height:240px"></div>
    </div>
    <div class="col p-5">

      <div class="col-sm-6 pb-3">
        <label for="Name" class="form-label">Название</label>
        <input asp-for="Name" class="form-control" id="Name" name="Name">
      </div>

      <div class="col-sm-6 pb-3">
        <label for="Latitude" class="form-label">Долгота</label>
        <input asp-for="Latitude" class="form-control" id="Latitude" name="Latitude">
      </div>

      <div class="col-sm-6 pb-3">
        <label for="Longitude" class="form-label">Широта</label>
        <input asp-for="Longitude" class="form-control" id="Longitude" name="Longitude">
      </div>

      <div class="col-sm-6 pb-3">
        <label for="Zoom" class="form-label">Масштаб</label>
        <input asp-for="Zoom" class="form-control" id="Zoom" name="Zoom">
      </div>

      <div class="col-sm-6 pb-3">
        <label for="lastName" class="form-label">Точность</label>
        <div class="form-control btn-group p-0" role="group" aria-label="Basic radio toggle button group">
          <input asp-for="LocationPrecisionMeters" type="radio" class="btn-check" name="LocationPrecisionMeters" id="btnradio1"
            onClick="javascript:prec(10000);" value=10000>
            <label class="btn btn-outline-primary" for="btnradio1">10000 м</label>
          <input asp-for="LocationPrecisionMeters" type="radio" class="btn-check" name="LocationPrecisionMeters" id="btnradio2"
            onClick="javascript:prec(5000);" value=5000>
          <label class="btn btn-outline-primary" for="btnradio2">5000 м</label>
          <input asp-for="LocationPrecisionMeters" type="radio" class="btn-check" name="LocationPrecisionMeters" id="btnradio3"
            onClick="javascript:prec(1000);" value=1000>
          <label class="btn btn-outline-primary" for="btnradio3">1000 м</label>
          <input asp-for="LocationPrecisionMeters" type="radio" class="btn-check" name="LocationPrecisionMeters" id="btnradio4"
            onClick="javascript:prec(500);" value=500>
          <label class="btn btn-outline-primary" for="btnradio4">500 м</label>
          <input asp-for="LocationPrecisionMeters" type="radio" class="btn-check" name="LocationPrecisionMeters" id="btnradio5"
            onClick="javascript:prec(100);" value=100>
          <label class="btn btn-outline-primary" for="btnradio5">100 м</label>
          <input asp-for="LocationPrecisionMeters" type="radio" class="btn-check" name="LocationPrecisionMeters" id="btnradio6"
            onClick="javascript:prec(50);" value=50>
          <label class="btn btn-outline-primary" for="btnradio6">50 м</label>          
          <input asp-for="LocationPrecisionMeters" type="radio" class="btn-check" name="LocationPrecisionMeters" id="btnradio7"
            onClick="javascript:prec(10);" value=10>
          <label class="btn btn-outline-primary" for="btnradio7">10 м</label>
        </div>
      </div>


    </div>
  </div>

</form>