@using System.Web
@using Newtonsoft.Json
@model IEnumerable<Data.Location>
@{Layout = "_Layout";}

<script type="text/javascript">

  ymaps.ready(init);

  var counter = 0;
  var circle;
  var jsModel = JSON.parse("@Html.Raw(HttpUtility.JavaScriptStringEncode(JsonConvert.SerializeObject(Model)))");
  var myGeoObject;

  function init() {    

    myMap = new ymaps.Map("map", {
      center: [0, 0],
      zoom: 0,
      controls: []
    });

    showAll();

  }

  function showAll() {
    myMap.geoObjects.removeAll();
    for (i=0; i<jsModel.length; i++) {
      myMap.geoObjects.add(
        new ymaps.GeoObject(
          {geometry: { type: "Point", coordinates: [jsModel[i].Latitude, jsModel[i].Longitude]}, properties: { iconContent: jsModel[i].Name }}, 
          {preset: 'islands#blackStretchyIcon', draggable: false}
        )
      )
    }
  }


  function show(i) {
    if (i == 0) {
        myMap.setCenter([0, 0]);
        myMap.setZoom(0);
        myMap.geoObjects.removeAll();
    }
    if (myGeoObject == null) {
        myGeoObject = new ymaps.GeoObject(
            {geometry: { type: "Point", coordinates: [jsModel[i-1].Latitude, jsModel[i-1].Longitude]}, properties: { iconContent: jsModel[i-1].Name }}, 
            {preset: 'islands#blackStretchyIcon', draggable: true}
        )
        myMap.geoObjects.add(myGeoObject);
    }
    myGeoObject.geometry.setCoordinates([jsModel[i-1].Latitude, jsModel[i-1].Longitude]);
    myGeoObject.properties.set('iconContent', jsModel[i-1].Name); 
    myMap.setCenter([jsModel[i-1].Latitude, jsModel[i-1].Longitude]);
    myMap.setZoom(jsModel[i-1].Zoom);
  }


</script>

<div class="row">
  <div class="col-md-12 p-5 pb-0 text-end">
    <a class="btn btn-primary" href="add_location">Добавить</a>  
    <a class="btn btn-secondary" href="javascript:history.back();">Отменить</a>
  </div>
</div>

<div class="row">
  <div class="col-md-2 p-5" style="width:500px">
    <h4 class="mb-3">Места</h4>
    <div id="map" style="height:240px"></div>
  </div>
  <div class="col p-5"> 
    <table class="table table-condensed">
      <thead>
        <tr>
          <th class="small" style="width:50%">Название</th>
          <th class="small">Долгота</th>
          <th class="small">Широта</th>
          <th class="small">Точность</th>
          <th class="small">&nbsp;</th>
        </tr>
      </thead>
      @foreach(var location in Model) {
      <tr>
        <td>@location.Name</td>
        <td>@location.Longitude</td>
        <td>@location.Latitude</td>
        <td>@location.LocationPrecisionMeters</td>
        <td>
          <a class="btn btn-sm btn-danger" href="delete_location?LocationId=@location.Id">Удалить</a>
          <a class="btn btn-sm btn-info" href="javascript:show(2);">Показать</a>
          <a class="btn btn-sm btn-primary" href="edit_location?LocationId=@location.Id">Редактировать</a>
        </td>
      </tr>
      }        
    </table>
  </div>
</div>
