@model svema.Data.Album
@{Layout = "_Layout";}

<div class="row">
  <div class="col-md-2 p-5" style="width:500px">
    <div class="row g-3">
      <div class="col-sm-6">
        <a class="btn btn-secondary" href="/">Вернуться</a>
      </div>
      <div class="col-sm-6 text-end">
        <a  class="btn btn-primary" href="#">Слайдшоу</a>&nbsp;
      </div>
      <div class="col-sm-12">@Model.Name</div>
      <div class="col-sm-3">Год</div><div class="col-sm-9">@Model.DateFrom</div>
      @if (@ViewBag.Locations != null) {
        @foreach(var location in @ViewBag.locations) {
            <div class="col-sm-12">@location.Location.Name</div>
                <!-- <td>
                    <a href="/album_location_delete?albumLocationId=@location.Id">Delete</a>&nbsp;
                    <a href="/album_location_view?albumLocationId=@location.Id">View</a>
                </td> -->
        }
      }
      <div class="col-sm-12" id="map" style="height:240px"></div>
    </div>
  </div>
  <div class="col p-5">
    <div class="d-flex p-0 flex-wrap overflow-auto">

      @foreach(var shot in @ViewBag.shots) {
      <div class="card text-bg-secondary mb-5 me-5 shadow" style="width: 16rem; height: 16rem;">
        <div class="card-body" style="background-image: url('/preview?id=@shot.ShotId'); background-repeat: no-repeat; background-size: cover;"></div>
        <a href="/view_shot?id=@shot.ShotId" class="stretched-link"></a>
      </div>
      }

    </div>
  </div>
</div>